@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Arial,'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mt10p {
    margin-top: 10%;
}

.style-table-default {
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: wrap;
    max-width: 95%;
    display: flex;
}

.pode-editar-input {
    border-left: 1px solid rgb(77 208 225 / 1);
    border-right: 1px solid rgb(77 208 225 / 1);
    border-bottom: 1px solid rgb(77 208 225 / 1);
    border-top: 0px;
}

.nao-pode-editar-input {
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    border-top: 0px;
}

.border-errorbg {
    border-color: rgb(236, 132, 100);
}

.errorbg {
    background: rgb(236, 132, 100);
}

.green-correct-signal {
    color: #2bb21f;
}

.font-size10 {
    font-size: 10px;
}

.modelo-btns {
    background: #88b43c;
}

.dados-consistentes {
    color: #ea282d;
}

.linha-erro {
    border-left: 1px solid #ec8464;
    border-right: 1px solid #ec8464;
    border-bottom: 1px solid #ec8464;
}

    .linha-erro::selection {
        color: black;
        font-weight: bold;
        background: #8fb3ef;
    }

    .linha-erro:focus {
        border: 3px solid #4285f4;
        position: sticky;
    }


.primary-blue-text {
    color: #4285f4;
}

.primary-blue-bg {
    background-color: #4285f4;
}

.primary-blue-border {
    border: 5px solid #4285f4;
}

.linha-edicao::selection {
    color: black;
    font-weight: bold;
    background: #8fb3ef;
}

.linha-edicao:focus {
    border: 3px solid #4285f4;
    position: sticky;
}

.processar-enviar {
    background: #87b33a;
}

#processing {
    margin-left: -160px;
    width: 140%;
    background-size: contain;
    background-image: url('assets/images/processo_sucesso.png');
    animation: scroll 4s linear infinite;
}


@keyframes scroll {
    to {
        background-position: -500px 0;
    }
}